<!DOCTYPE html>
<html 
	lang="ko" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <!-- xmlns="http://www.w3.org/1999/xhtml" -->
<head>
<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Janus WebRTC Server: Screen Sharing Demo</title>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/6.4.0/adapter.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script type="text/javascript" src="/js/janus.js"></script>
 <script src="https://kit.fontawesome.com/0776e0d493.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/myjs.js" ></script>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<!-- <link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.4.0/cerulean/bootstrap.min.css"
	type="text/css" /> -->
<link th:href="@{/css/testyoutube.css}" rel="stylesheet">
<link th:href="@{/css/mycss.css}" rel="stylesheet">
<link th:href="@{/css/chatting.css}" rel="stylesheet">
<!-- <link rel="stylesheet" href="css/chatting.css" type="text/css" /> -->

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
	type="text/css" />
	
	<style>
		#clipVideo{
			width: 50%;
			position: relative;
			left: 25%;
			margin-top: 10px;
			z-index: 1;
		}
		#ccliptitle{
			width: 50%;
			position: relative;
			left: 25%;
			margin-top: 50px;
			z-index: 1;
		}
		.modal_update{
			z-index: 2;
		}
	</style>
	
</head>
<body>
		<div class="Head">
    		<th:block th:replace="parts/topMenuBar :: TopBar"></th:block>
    	</div>
    	<div class="Aside">
    		<th:block th:replace="parts/leftActionBar :: LeftSide"></th:block>
    	</div>
    	
    	<div id="modals">
    		 <div class="modal">
	      		 <div class="modal_body">
	     			 <th:block th:replace="~{/parts/login.html :: setLogin(~{this::login} )}"></th:block>
	     		</div>
	    	</div>
	    	<div class="modal_create">
	      		 <div class="modal_body">
	     			 <th:block th:replace="~{/parts/createAccount :: createAccount(~{this::create} )}"></th:block>
	     		</div>
	    	</div>
	    	<div class="modal_update">
	      		 <div class="modal_body">
	     			 <th:block th:replace="~{/parts/accountUpdate :: updatingAccount(~{this::UA} )}"></th:block>
	     		</div>
	    	</div>  
    	</div>
    		<h1 id="ccliptitle">클립 명 : </h1>
    	<div class="clipBody">
		 	<video id="clipVideo" controls autoplay src=""></video>
		</div>
	
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    	var clipCode = /*[[${clip_code}]]*/;
    	var title = /*[[${title}]]*/;
    	
		$(document).ready(function(){
			$('#clipVideo').attr('src', "/Clip?clip_code="+ clipCode);
			$('#ccliptitle').html('클립 명 : '+title);
		});
    /*]]>*/
</script>
</html>