<!DOCTYPE html>
<html 
	lang="ko" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <!-- xmlns="http://www.w3.org/1999/xhtml" -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Janus WebRTC Server: Screen Sharing Demo</title>
<style>
      /* div {
        width: 100%;
      }
      div.left {
        width: 30%;
        float: left;
      }
      div.right {
        width: 70%;
        float: right;
        height: 10 rem;
      } */
 </style>

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/6.4.0/adapter.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script type="text/javascript" src="js/janus.js"></script>
 <script src="https://kit.fontawesome.com/0776e0d493.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/myjs.js" ></script>
<script type="text/javascript" src="js/guestStream.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<!-- <link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.4.0/cerulean/bootstrap.min.css"
	type="text/css" /> -->
<link th:href="@{/css/testyoutube.css}" rel="stylesheet">
<link th:href="@{/css/mycss.css}" rel="stylesheet">
<link th:href="@{/css/chatting.css}" rel="stylesheet">
<!-- <link rel="stylesheet" href="css/chatting.css" type="text/css" /> -->

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
	type="text/css" />
</head>
<body>
		<div class="Head">
    		<th:block th:replace="parts/topMenuBar :: TopBar"></th:block>
    	</div>
    	<div class="Aside">
    		<th:block th:replace="parts/leftActionBar :: LeftSide"></th:block>
    	</div>
    	
    	<div id="modals">
    		 <div class="modal">
	      		 <div class="modal_body">
	     			 <th:block th:replace="~{/parts/login.html :: setLogin(~{this::login} )}"></th:block>
	     		</div>
	    	</div>
	    	<div class="modal_create">
	      		 <div class="modal_body">
	     			 <th:block th:replace="~{/parts/createAccount :: createAccount(~{this::create} )}"></th:block>
	     		</div>
	    	</div>
	    	<div class="modal_update">
	      		 <div class="modal_body">
	     			 <th:block th:replace="~{/parts/accountUpdate :: updatingAccount(~{this::UA} )}"></th:block>
	     		</div>
	    	</div>  
    	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<h1>
						방송의 제목(DB에서 가져오기)
						<button class="btn btn-default" autocomplete="off" id="start">방송
							입장</button>
					</h1>
				</div>
				<div class="container" id="details">
					<div class="row">
						<div class="col-md-12"></div>
					</div>
				</div>
				<div class="container hide" id="screenmenu">
					<div class="row"></div>
					<div class="divider col-md-12"></div>
					<div class="row">
						<div class="input-group margin-bottom-md hide" id="joinnow">
							<!-- <span class="input-group-addon"><i class="fa fa-play-circle-o fa-1"></i></span> -->
							<input class="form-control" type="text" placeholder="방송코드를 입력 시 해당 방송으로 이동 시켜야 한다" autocomplete="off" id="roomid" onkeypress="return checkEnterJoin(this, event);" />
							<span class="input-group-btn">
								<button class="btn btn-success" autocomplete="off" id="join">방송보기</button>
							</span>
						</div>
					</div>
				</div>
				<div class="main" id="main">
					<div class="videoBody">
		    				<th:block th:replace="parts/videoBody :: videoBody"></th:block>
		    			</div>
					<div class="chattingBody">
	    				<th:block th:replace="parts/chattingBody :: chattingBody"></th:block>
    				</div>
				
					
					<!-- <div class="container hide" id="room">
						<div class="row">
							<div class="col-md-12" id="">
								<div class="panel panel-default">
									<div class="panel-body" id="screencapture"></div>
								</div>
							</div>
							
						<p1 id="loding"><h1>방송화면 로딩중입니다. 잠시만 기다려 주세요! </h1></p1>
						</div>
					<div class="container">
	                
	                </div>
						<div class="col-6"></div>
	
					</div>
				</div> -->
				
				</div>
		</div>
	</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var session = /*[[${catch_session}]]*/;
    var chatting_room = /*[[${chatting_room}]]*/;
    var video_code = /*[[${video_code}]]*/;
    
    const startBtn = document.getElementById('start');
    const inputBar = document.getElementById('roomid');
    const joinBtn = document.getElementById('join');
    
    var sockJs = null;
    var stomp = null;
    
    var userid = sessionStorage.getItem("using_id");
    console.log(userid);
    
    

    $(document).ready(function(){
    	startBtn.style.display = 'none';
    	inputBar.style.display = 'none';
    	joinBtn.style.display = 'none';
    	console.log("["+ session +"]"+"["+ chatting_room +"]")
    	$('#roomid').val(session);
    	$('#start').click();
    	
    	$('#msgArea').stop().animate({scrollTop: $('#msgArea')[0].scrollHeight}, 1000);
    	
    	sockJs = new SockJS("/stomp/chat");
        //1. SockJS를 내부에 들고있는 stomp를 내어줌
        stomp = Stomp.over(sockJs);

        //2. connection이 맺어지면 실행
        stomp.connect({}, function (){
           console.log("STOMP Connection")

           //4. subscribe(path, callback)으로 메세지를 받을 수 있음
           stomp.subscribe("/sub/chat/room/" + video_code, function (chat) {
               var content = JSON.parse(chat.body);

               var writer = content.user_id;
               var chatting = content.chat;
               var str = '';
               
               console.log("확인????");

               if(writer === userid){
                   str = "<div class='activity-item d-flex'>";
                   str += "<b class=activite-label>" + writer + " : " + "</b>";
                   str += "<b class=activity-content>" + chatting + "</b>";
                   str += "</div></div>";
                   $("#msgArea").append(str);
                   $('#msgArea').stop().animate({scrollTop: $('#msgArea')[0].scrollHeight}, 1000);
               }
               else{
            	   str = "<div class='activity-item d-flex'>";
                   str += "<b class=activite-label>" + writer + " : " + "</b>";
                   str += "<b class=activity-content>" + chatting + "</b>";
                   str += "</div></div>";
                   $("#msgArea").append(str);
                   $('#msgArea').stop().animate({scrollTop: $('#msgArea')[0].scrollHeight}, 1000);
               }
           });
        });
        $('#button-send').on("click", function chatsendButton(){
        	//var sockJs = new SockJS("/stomp/chat");
        	//var stomp = Stomp.over(sockJs);
            var msg = $('#msg')
            console.log(msg);
            if(!msg.val()){
             	alert("입력이 필요")
             }else{
                 stomp.send('/pub/chat/message', {}, JSON.stringify({video_code: video_code, chat: msg.val(), user_id: userid, chat_status: true}));
                 msg.val('');
             }
             console.log(msg.value);
         });
        
        
    });
    /*]]>*/
</script>
</html>
