<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/css/testyoutube.css}" rel="stylesheet">
        <link th:href="@{/css/mycss.css}" rel="stylesheet">
        <script src="https://kit.fontawesome.com/0776e0d493.js" crossorigin="anonymous"></script>
        
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/6.4.0/adapter.min.js" ></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js" ></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
		<script type="text/javascript" src="/js/janus.js" ></script>
		<script type="text/javascript" src="/js/replaymake.js"></script>

    </head>
    <body>
    	<div class="Head">
    		<th:block th:replace="parts/topMenuBar :: TopBar"></th:block>
    	</div>
    	<div class="Aside">
    		<th:block th:replace="parts/leftActionBar :: LeftSide"></th:block>
    	</div>
    	
    	<div id="modals">
    		 <div class="modal">
	      		 <div class="modal_body">
	     			 <th:block th:replace="~{/parts/login.html :: setLogin(~{this::login} )}"></th:block>
	     		</div>
	    	</div>
	    	<div class="modal_create">
	      		 <div class="modal_body">
	     			 <th:block th:replace="~{/parts/createAccount :: createAccount(~{this::create} )}"></th:block>
	     		</div>
	    	</div>
	    	<div class="modal_update">
	      		 <div class="modal_body">
	     			 <th:block th:replace="~{/parts/accountUpdate :: updatingAccount(~{this::UA} )}"></th:block>
	     		</div>
	    	</div>  
	    	<div class="modal_del">
	     			 <div class="modal_body">
	     			 <th:block th:replace="~{/parts/delete.html :: delete(~{this::del} )}"></th:block>
	     			 </div>
	     	</div>
    	</div>
    	
    	<div class="main" id="main">
    		<div class="broadList">
    			<div id="FL">
    			<h2>즐겨찾기한 스트리머의 생방송</h2>	
    				<div class="card-body profile-card pt-4 d-flex flex-column align-items-center" id="followList"> 
    				
    				</div>
    				<a href="">더 보기</a>
    			</div>
    			<h2>생방송 중인 스트리머</h2>	
    				<div class="card-body profile-card pt-4 d-flex flex-column align-items-center" id="liveList">
    				</div>
    				<a href="">더 보기</a>
    			<h2>최신 다시보기</h2>	
    				<div class="card-body profile-card pt-4 d-flex flex-column align-items-center" id="recordList">
    				</div>
    				<a href="">더 보기</a>
    			<h2>최신 클립</h2>	
    				<div class="card-body profile-card pt-4 d-flex flex-column align-items-center" id="clipList">
    					
    				</div>
    				<a href="">더 보기</a>
    		</div>
    	</div>
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script th:inline="javascript">
        	/*<![CDATA[*/
        		$(document).ready(function(){
        			
        			
        			const modal = document.querySelector('.modal');
        			const modal_create = document.querySelector('.modal_create')
        			const modal_update = document.querySelector('.modal_update')
        			const modal_del = document.querySelector('.modal_del')
        			const leftvalue = $('.sidebar').offset().left;
        			
        			//sessionStorage.clear();
        			
        			var useid = sessionStorage.getItem("using_id");
        			
        			
        			
        			if(useid === null){
        				$('#icons2').append(
        						'<a id="loginIcon" class="mainIcon" href="#">'+
        						'<i class="fa-solid fa-right-to-bracket"></i>로그인</a>'+	
        						'<a id="createAccount" class="mainIcon" href="#">'+
        						'<i class="fa-solid fa-plus"></i>회원가입</a>'
        				);
        				$('.sidebar').css("left", -300);
        				$('#FL').hide();
        			}else{
        				$.ajax({
        					url: '/ajax/main_follows',
        					type: 'GET',
        					data: {
        						"userid": sessionStorage.getItem("using_id")
        					},
        					dataType: 'text',
        					success: function(data){
                        		var obj = JSON.parse(data);
                        		var thum = obj["FollowThumbnail"];
                        		var ulist = obj["follows"];
                        		var len = ulist.length
                        		
                        		for(var i=0;i<len;i++){
                        			if(obj["FollowThumbnail"][i] === null){
                        					$('#sidebar-nav').append(
                    	        				'<li class="nav-item">'+
                    	        				'<a class="nav-link" href="/Guest_Mode?video_code=' + ulist[i]["video_code"] + '">'+
                    	        				'<img src="" width="50px" height="50px" style="border-radius:50%;" alt="Profile" class="rounded-circle">'+
                    	        				ulist[i]["streamer_id"] +'</a></li>' 
                    	        			);
                        			}else{
                        				$('#sidebar-nav').append(
                    	        				'<li class="nav-item">'+
                    	        				'<a class="nav-link" href="/Guest_Mode?video_code=' + ulist[i]["video_code"] + '">'+
                    	        				'<img src="data:image/png;base64,' + thum[i] + '" width="50px" height="50px" style="border-radius:50%;" alt="Profile" class="rounded-circle">'+
                    	        				ulist[i]["streamer_id"] +'</a></li>' 
                    	        		);
                        			}
                        		}
                			},
                			error: function(){
                				console.log("error");
                			}
        				});
        				
        				$.ajax({
                			url: '/ajax/main_followlist',
                			type: 'GET',
                			data: {
                				"userid": sessionStorage.getItem("using_id")
                			},
                			dataType: 'text',
                			success: function(data){
                        		var obj = JSON.parse(data);
                        		var thum = obj["FollowThumbnail"];
                        		var ulist = obj["FollowList"];
                        		var len = ulist.length
                        		console.log(ulist.length);
                        		for(var i=0;i<len;i++){
                        			if(obj["FollowThumbnail"][i] === null){
                        				$('#followList').append(
                                				'<div class="items cardWhite">'+
                                				'<a href="/Guest_Mode?video_code=' + ulist[i]["video_code"] + '">'+
        	                    				'<img src="" width="150px" height="150px" style="border-radius:25px;" alt="Profile" class="rounded-circle">'+
        	                    				'<h2>' + ulist[i]["title"] + '</h2>'+
        	                    				'<h3>' + ulist[i]["streamer_id"] + '</h3>'+
        	                    				'</div>'
                                		); 
                        				console.log("!!!!!!!!!!!!!!")
                        			}else{
                        				$('#followList').append(
                        						'<div class="items cardWhite">'+
                                				'<a href="/Guest_Mode?video_code=' + ulist[i]["video_code"] + '">'+
        	                    				'<img src="data:image/png;base64,' + thum[i] + '" width="150px" height="150px" style="border-radius:25px;" alt="Profile" class="rounded-circle">'+
        	                    				'<h2>' + ulist[i]["title"] + '</h2>'+
        	                    				'<h3>' + ulist[i]["streamer_id"] + '</h3>'+
        	                    				'</div>'
                                		); 
                        			}
                        			/* livelist.setAttribute('class', 'video')
                    				livelist.innerHTML=
                    					'<a href="/Guest_Mode?video_code='+ a[i]["video_code"] +'"><img src=data:image/png;base64,'+ obj[i] +' class="Thumnail">'+''+'</div><div class="STitle">' + a[i]["title"] + '</div><div class="SuserId">' + a[i]["streamer_id"] + '</div></a>';
                            		target.appendChild(livelist); */
                        		}
                			},
                			error: function(){
                				console.log("error");
                			}
                		});
        				
        				$('#icons2').append(
        						'<a id="logoutIcon" class="mainIcon" href="/YouTV/MainScreen">'+
        						'<i class="fa-solid fa-right-from-bracket"></i>로그아웃</a>'+	
        						'<a id="updateIcon" class="mainIcon" href="#">'+
        						'<i class="fa-solid fa-wrench"></i>정보수정</a>'
        				);
        				
        				$('#sidebar-nav').append(
        					'<li class="nav-item">'+
        					'<a class="nav-link" id="follist">'+
        					'<i style="font-size: 30px;" class="fa-solid fa-star"></i>&ensp;즐겨찾기 목록</a></li>'
        				);
        				
        				$('.streamMenu').append(
        						'<a id="streamIcon" class="mainIcon" href="/Owner_Mode">'+
        						'<i class="fa-solid fa-tower-broadcast"></i>방송하기</a>'+	
        						'<a id="clipIcon" class="mainIcon" href="#">'+
        						'<i class="fa-solid fa-paperclip"></i>클립제작</a>'
        				);
        				
        				
        				//팔로우 목록 추가
        				/* $.ajax({
        					url: '',
        					type: 'GET',
        					data: {
        						
        					},
        					dataType: '',
        					success: function(data){
        						var obj = JSON.parse(data);
                        		console.log(obj);
        						$('#sidebar-nav').append(
        	        				'<li class="nav-item">'+
        	        				'<a class="nav-link" href="">'+
        	        				'<img src="data:image/png;base64,' + obj["여기에 프로필 사진 입력"][i] + 
        	        				'" width=50px></a>'+ '여기에 즐찾한 스트리머 아이디 입력' +'</li>'
        	        			);
        					}
        				}); */
        				
        				//팔로ㅓ우 방송 추가
        			}
        			
        			
        			$('#btn-create-login').click(function(){
        				modal.style.display = 'none';
        				modal_create.style.display='block';
      		    	  $('.sidebar').css("left", -300);
        			});

        		      $('#loginIcon').click(function(){
        		        modal.style.display = 'block';
        		        $('.sidebar').css("left", -300);
        		      });
        		      
        		      $('#createAccount').click(function(){
        		    	  modal_create.style.display='block';
        		    	  $('.sidebar').css("left", -300);
        		      });
        		      
        		      $('#updateIcon').click(function(){
        		    	  modal_update.style.display='block';
        		    	  $('.sidebar').css("left", -300);
        		      });
        		      
        		      $('#exitmark').click(function(){
        		    	  modal.style.display = 'none';
        		    	  $('#id').val('');
        		    	  $('#password').val('');
        		    	  if(useid != null){
        		    		 $('.sidebar').css("left", leftvalue);
        		    	  }
        		      });
        		      
        		      $('#exitmark_create').click(function(){
        		    	  modal_create.style.display = 'none';
        		    	  $('#createform').each(function(){
        		    		  this.reset();
        		    	  });
        		    	  if(useid != null){
         		    		 $('.sidebar').css("left", leftvalue);
         		    	  }
        		      });
        		      
        		      $('#exitmark_update').click(function(){
        		    	  modal_update.style.display = 'none';
        		    	  $('#createform').each(function(){
        		    		  this.reset();
        		    	  });
        		    	  if(useid != null){
         		    		 $('.sidebar').css("left", leftvalue);
         		    	  }
        		      });
        		      
        		      $('#logoutIcon').click(function(){
        		    	 sessionStorage.clear(); 
        		      });
        		      
        		      $('#deleteIcon').click(function(){
							modal_del.style.display = 'block';
      		      	  });
        		      $('#del_exitmark').click(function(){
        		    	  modal_del.style.display = 'none';
      		          });
        		      
        		      $('#yesbtn').click(function(){
        		    	  $.ajax({
        		    		 url: '/ajax/AccountDelete',
        		    		 type: 'POST',
        		    		 data: {
        		    			 'userid': sessionStorage.getItem("using_id")
        		    		 },
        		    		 success: function(){
        		    			sessionStorage.clear();
                       			window.location.href = "/YouTV/MainScreen";
                       			alert("계정 삭제 완료");
        		    		 }
        		    	  });
        		      });
        		      
					  $('#nobtn').click(function(){
						  modal_del.style.display = 'none';
        		      });
					  
					  $('#btn-check').click(function(){
						  if(sessionStorage.getItem("using_pw") === $('#checkpassword').val()){
							  $('#check').css('display', 'none');
							  $('#setting').css('display', 'block');
						  }else{
							  alert("인증실패");
						  }
					  });
					  
					  $('#btn-update').click(function(){
						  $.ajax({
	        		    		 url: '/ajax/AccountUpdate',
	        		    		 type: 'POST',
	        		    		 data: {
	        		    			 'inid': sessionStorage.getItem("using_id"),
	        		    			 'newpassword': $('#upassword').val()
	        		    		 },
	        		    		 success: function(){
	        		    			 sessionStorage.setItem("using_pw", $('#upassword').val());
	                       			window.location.href = "/YouTV/MainScreen";
	                       			alert("계정 수정 완료");
	        		    		 }
	        		    	  });
					  });
              		
              		if(document.getElementById("") != null){
              			document.getElementById("").onclick = function(){
                  			sessionStorage.clear();
                  			window.location.href = "/YouTV/MainScreen";
                  		}
              		}
              		
              		
              		$('#streamMenu2').append(
    						'<a id="streamIcon" class="mainIcon" href="/Owner_Mode">'+
    						'<i class="fa-solid fa-signal-stream"></i>방송하기</a>'+	
    						'<a id="clipIcon" class="mainIcon" href="#">'+
    						'<i class="fa-solid fa-paperclip"></i>클립제작</a>'
    				);
          		
            		//
            		
            		
            		//
            		
            		// 방송 기본 정보 받아오기
            		var a = /*[[${livelist}]]*/ "live";
            		var b = /*[[${recordlist}]]*/ "record";
            		
            		//로그인
            		$('#btn-login').click(function(){
            			var formData = $("#loginform").serialize();
        				console.log(formData);
        				$.ajax({
        					url: '/ajax/AccountExistCheck',
        					type: 'POST',
        					data: formData,
        					dataType: 'json',
        					success: function(data){
        						if(data == true){
        							var id = document.getElementById("id").value;
        							var pw = document.getElementById("password").value;
        							sessionStorage.setItem("using_id", id);
        							sessionStorage.setItem("using_pw", pw);
        							window.location.href="/YouTV/MainScreen"
        							
        						}else{
        							alert("존재하지 않는 계정이거나 입력된 정보가 잘못되었습니다.")
        							
        						}
        					}
        				});
            		});
            		
            		//중복체크
            		var dupcheck_state = 0;
            		document.getElementById("cid").onclick = function(){
        				dupcheck_state = 0;
        			}
            		$('#dupCheck').click(function(){
                		var formData = $("#cid").val();
        				console.log(formData);
        				if(!formData){
        					alert("비어있음 입력을 바람");
        				}else{
        					$.ajax({
            					url: '/ajax/AccountDupCheck',
            					type: 'POST',
            					data: {
            						"inid":formData
            					},
            					dataType: 'json',
            					success: function(data){
            						if(data == true){
            							alert("사용가능한 ID");
            							dupcheck_state = 1;
            						}else{
            							alert("이미 사용중인 ID")
            							dupcheck_state = 0;
            						}
            					}
            				});
        				}
            		});
            		
            		
            		
            		$('#profile-file').on('change', function(){
            			var filename = $('#profile-file').val();
            			$('#filename').val(filename);
            		});
            		
            		$('#profile-file').on('change', function(){
            			if(this.files && this.files[0]){
            				var reader = new FileReader();
            				reader.onload = function(e){
            					$('#img-profile').attr('src', e.target.result);
            				}
            				reader.readAsDataURL(this.files[0]);
            				//console.log(this.files[0])
            			}
            			
            		});
            		$('#btn-profile').on('click', function(){
            			var formData = new FormData();
            			$('#profile-file').attr("name", sessionStorage.getItem("using_id"));
            			console.log($('#profile-file')[0].files[0])
            			formData.append(sessionStorage.getItem("using_id"), $('#profile-file')[0].files[0]);
            			
            			
            			$.ajax({
            				url: '/ajax/AccountUpdateImg',
            				processData: false,
            				contentType: false,
            				type: 'POST',
            				data: formData,
            				success: function(data){
            					console.log(data);
            					//sessionStorage.setItem("profile", data);
            					//window.location.href = "/YouTV/MainScreen";
            				},
            			error: function(e){
            				console.log(e)
            			}
            			});
            		});
            		
            		
            		
            		
            		var comcheck = 0;
            		$('#cpw').keyup(function(){
            			var reg = "^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$";
            			var val1 = $('#cpw').val();
            			var val2 = $('#compare').val();
            			
            			console.log(val1.length);
            			if(val1.length < 8){
            				console.log("1");
            				$('#comresult').text("규칙에 맞춰 작성해 주세요");
        					$('#comresult').css("color","orange");
        					comcheck = 0;
            			}else if(val1.length >= 8 || val2 == null || val2.length > 8){
            				$('#comresult').text("비밀번호 확인에 값을 입력해 주세요");
        					$('#comresult').css("color","green");
        					comcheck = 0;
            			}else{
            				comcheck = 0;
            			}
            			
            		});
	
            		$('#compare').keyup(function(){
            			var reg = "^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$";
            			var val1 = $('#cpw').val();
            			var val2 = $('#compare').val();
            			if(val1 != '' && val2 == ''){
            				null;
            			}else if (val1.lengh < 8){
            				console.log(val1.lengh);
            				$('#comresult').text("비밀번호 규칙에 맞춰 작성해 주세요.");
        					$('#comresult').css("color","red");
            			}else if(val1 != '' || val2 != ''){
            				if(val1 == val2){
            					$('#comresult').text("일치");
            					$('#comresult').css("color","green");
            					comcheck = 1;
            				}else{
            					console.log(val1.length);
            					$('#comresult').text("불일치");
            					$('#comresult').css("color","red");
            					comcheck = 0;
            				}
            			}
            		});
            		
            		//가입
            		$('#btn-create').click(function(){
            			if( !($("#cid").val()) || !($("#cpw").val()) || !($("#cnm").val()) || !($("#cpn").val())){
            				alert("모든 항목을 입력해주세요");
            			}else{
            				if(dupcheck_state == 1 && comcheck == 1){
            					$.ajax({
            						url: '/ajax/AccountCreate',
            						type: 'POST',
            						data: {
            							"inid": $("#cid").val(),
            							"inpassword": $("#cpw").val(),
            							"inname": $("#cnm").val(),
            							"inpnum": $("#cpn").val()
            						},
            						dataType: 'json',
            						success: function(data){
            							if(data == true){
            								console.log(data);
            								alert("생성");
            								modal_create.style.display = 'none';
            		        		    	  $('#createform').each(function(){
            		        		    		  this.reset();
            		        		    	  });
            		        		    	  if(useid != null){
            		         		    		 $('.sidebar').css("left", leftvalue);
            		         		    	  }
            							}else{
            								alert("실패");
            							}
            						}
            					});
            				}else{
            					alert("ID 중복체크나 비밀번호의 일치가 필요합니다.");
            				}
            			}
            		});
            		
            		
            		
            		
            		//AJAX를 이용하여 썸네일 가져오기(생방, 녹방)
            		$.ajax({
            			url: '/ajax/main_livelist',
            			type: 'GET',
            			dataType: 'text',
            			success: function(data){
            				var target = $('#liveList');
                    		var obj = JSON.parse(data);
                    		for(var i=0;i<a.length;i++){
                    			var livelist = document.createElement("div");
                    			var guestid=useid;
                    			if(guestid==null){
                    				guestid = "NoNameUser";
                    			}
                    			if(obj["LiveThumbnail"][i] === null){
                    				target.append(
                            				'<div class="items cardWhite">'+
                            				'<a href="/Guest_Mode?video_code=' + a[i]["video_code"] + '&guestid='+ useid + '">'+
    	                    				'<img src="" width="150px" height="150px" style="border-radius:25px;" alt="Profile" class="rounded-circle">'+
    	                    				'<h2>' + a[i]["title"] + '</h2>'+
    	                    				'<h3>' + a[i]["streamer_id"] + '</h3>'+
    	                    				'</div>'
                            		); 
                    				console.log("dsdsd");
                    			}else{
                    				console.log("보세요 : "+ obj["LiveThumbnail"][i]);
                    				target.append(
                            				'<div class="items cardWhite">'+
                            				'<a href="/Guest_Mode?video_code=' + a[i]["video_code"] + '&guestid='+ guestid + '">'+
    	                    				'<img src= "data:image/png;base64,'+ obj["LiveThumbnail"][i] +'" width="150px" height="150px" style="border-radius:25px;" alt="Profile" class="rounded-circle">'+
    	                    				'<h2>' + a[i]["title"] + '</h2>'+
    	                    				'<h3>' + a[i]["streamer_id"] + '</h3>'+
    	                    				'</div>'
                            		); 
                    			}
                    			/* livelist.setAttribute('class', 'video')
                				livelist.innerHTML=
                					'<a href="/Guest_Mode?video_code='+ a[i]["video_code"] +'"><img src=data:image/png;base64,'+ obj[i] +' class="Thumnail">'+''+'</div><div class="STitle">' + a[i]["title"] + '</div><div class="SuserId">' + a[i]["streamer_id"] + '</div></a>';
                        		target.appendChild(livelist); */
                    		}
            			}
            		});
            		/*
            		$.ajax({
            			url: '/ajax/main_recordlist',
            			type: 'GET',
            			dataType: 'text',
            			success: function(data){
            				var target = //document.getElementById("liveList");// $('#recordList');
                    		var obj = JSON.parse(data);
                    		console.log(obj);
                    		for(var i=0;i<b.length;i++){
                				target.append(
                        				'<div class="items cardWhite">'+
                        				'<a href="">'+
	                    				'<img src= "data:image/png;base64,'+ obj["RecordThumbnail"][i] +'" width="150px" height="150px" style="border-radius:25px;" alt="Profile" class="rounded-circle">'+
	                    				'<h2>' + b[i]["title"] + '</h2>'+
	                    				'<h3>' + b[i]["streamer_id"] + '</h3>'+
	                    				'</div>'
                        		);
                    		}
            			}
            		});
            		*/
            		
            		//AJAX를 이용하여 썸네일 가져오기(클립)

            		
            		/* document.getElementById("mainButton").onclick = function(){
            			window.location.href = "/YouTV/MainScreen";
            		}
            		
            		if(document.getElementById("loginbutton") != null){
            			document.getElementById("loginbutton").onclick = function(){
                			window.location.href = "/YouTV/LoginScreen";
                		}
            		}
            		
            		if(document.getElementById("logoutbutton") != null){
            			document.getElementById("logoutbutton").onclick = function(){
                			sessionStorage.clear();
                			window.location.href = "/YouTV/MainScreen";
                		}
            		}*/
        		}); 
        		
        		
        	/*]]*/
        	
        	
        </script>
</html>