<html 
	lang="ko"
	xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="chattingBody">
		<div class="" id="msgSector" style="">
			<div id="msgArea" class="card info-card customers-card cardWhite" >
				<div class="activity-item d-flex">
					<div><b class="activite-label">유저 :</b><b class="activity-content">안녕하세요</b></div>
					
				</div>
			</div>
		    	<div class="col-6">
		        	<div class="input-group mb-3" id="chatting_area">
		            	<div id="insertSector" class="search-form d-flex align-items-center">
		            		<div><input type="text" class="form-control"><button class="" type="button" id="button-send">전송</button></div>
		            	</div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</html>