<html 
	lang="ko"
	xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="LeftSide">
		<aside id="sidebar" class="sidebar">
			<ul class="sidebar-nav" id="sidebar-nav">
				<li class="nav-item"><a class="nav-link" href=""><img src="/img/userimg.jpg" width=50px>1번</a></li>
				<li class="nav-item"><a class="nav-link" href=""><img src="/img/userimg.jpg" width=50px>2번</a></li>
				<li class="nav-item"><a class="nav-link" href=""><img src="/img/userimg.jpg" width=50px>3번</a></li>
				<li class="nav-item"><a class="nav-link" href=""><img src="/img/userimg.jpg" width=50px>4번</a></li>
				<li class="nav-item"><a class="nav-link" href=""><img src="/img/userimg.jpg" width=50px>5번</a></li>			
			</ul>
		</aside>
	</div>
</html>