<html 
	lang="ko"
	xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="LeftSide" class="followList">
		<div class="LSide">
			<ul class="List">
				<li class="listitems"><a href=""><img src="/img/userimg.jpg" width=100px>1번</a></li>
				<li class="listitems"><a href=""><img src="/img/userimg.jpg" width=100px>2번</a></li>
				<li class="listitems"><a href=""><img src="/img/userimg.jpg" width=100px>3번</a></li>
				<li class="listitems"><a href=""><img src="/img/userimg.jpg" width=100px>4번</a></li>
				<li class="listitems"><a href=""><img src="/img/userimg.jpg" width=100px>5번</a></li>			
			</ul>
		</div>
	</div>
</html>