<html 
	lang="ko"
	xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="LeftSide" class="followList LSide">
		<ul class="List">
			<li class="listitems"><a href=""><img src="/img/userimg.jpg" width=50px>1번</a></li>
			<li class="listitems"><a href=""><img src="/img/userimg.jpg" width=50px>2번</a></li>
			<li class="listitems"><a href=""><img src="/img/userimg.jpg" width=25px>3번</a></li>
			<li class="listitems"><a href=""><img src="/img/userimg.jpg" width=25px>4번</a></li>
			<li class="listitems"><a href=""><img src="/img/userimg.jpg" width=25px>5번</a></li>			
		</ul>
	</div>
</html>